@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&family=Pacifico&display=swap');

.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column{
    box-sizing:border-box;
    width: 100%;
}

.column__title{
    justify-content: center;
    align-content: center;
}

.group__title{
    font-family: 'Pacifico', cursive;

    font-weight: 100;
    text-align: center;
    font-size: 1.8em;
    margin: 30px;
}
@media screen and (min-width:480px){
    
    .column--50{
        width: 49%;
    }
    
    .column--50-25{
        width: 49%;
    }
    .container{
        width: 90%;
    }
}

@media screen and (min-width:768px)
{
    .main__title{
        font-size: 2.2em;
    }
    .column__title{
        font-size: 1em;
    }
    
    .group__title{
        font-size: 2.2em;
    }    
    .container{
        width: 90%;
    }

}

@media screen and (min-width:1024px)
{
    .main-nav{
        padding: 0;
    }
    .
    container{
        width: 90%;
    }
    
}

@media screen and (min-width:1500px)
{    
    .container{
        width: 90%;
    }
}*/