@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
@import url(menu.css);
@import url(info.css);
@import url(abotume.css);
@import url(Servicios.css);
@import url(/css/SliderJava2.css);
@import url(contacto.css);

header div.contenedor1{
    display: flex;
    width: 60vw;
    height: 20vh;
    margin: auto;
    margin-top: 10px;
}

.contenedor1 img{
    width: 100%;
    height: 100%;

}

body{
	font-family: 'Lato', sans-serif;
}

.contenedor{
	width: 450px;
	margin: auto;	
}


footer .contenedor{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    text-align: center;
}

.copy{
	font-size: 20px;
}



@media (min-width: 700px){
    .contenedor, .contenedor1, #info{
		width: 600px;
    }

    header div.contenedor1{
        display: flex;
        width: 40vw;
        height: 25vh;
        margin: auto;
        margin-top: 10px;
    }
    .contenedor1 img{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 900px){
    .contenedor, .contenedor1, #info{
		width: 800px;
    }

    
    header div.contenedor1{
        display: flex;
        width: 40vw;
        height: 30vh;
        margin: auto;
        margin-top: 10px;
    }
    .contenedor1 img{
        width: 100%;
        height: 100%;
    }
}


@media (min-width: 1200px){
    .contenedor, .contenedor1, #info{
		width: 1100px;
    }

    header div.contenedor1{
        display: flex;
        width: 40vw;
        height: 32vh;
        margin: auto;
        margin-top: 10px;
    }
    .contenedor1 img{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1600px){
    .contenedor, .contenedor1, #info{
		width: 1500px;
    }

    header div.contenedor1{
        display: flex;
        width: 40vw;
        height: 40vh;
        margin: auto;
        margin-top: 10px;
        padding: 20px;
    }
    .contenedor1 img{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1800px){
    .contenedor, .contenedor1, #info{
		width: 1800px;
    }

    header div.contenedor1{
        display: flex;
        width: 40vw;
        height: 40vh;
        margin: auto;
        margin-top: 10px;
        padding: 20px;
    }
    .contenedor1 img{
        width: 100%;
        height: 100%;
    }
}