#menu-bar{
	display: none;
}

/*header label{
	font-size: 30px;
	margin: 6px 0;
	cursor: pointer;
    width: 60px;
    float: right;
}*/

.menu{
    display: flex;
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float:inherit;
    background: rgba(51, 51, 51, 0.9);
}

/*
.menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 185px;
	background: rgba(51, 51, 51, 0.9);
	transition: all 0.5s;
	transform: translateX(-100%);
	height: auto;
}
*/

.menu a{
    display: block;
	height:20px;
    width: 150px;
    text-align: center;
	text-decoration:none;
	padding: 15px;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover{
	background: rgba(51, 51, 51, 0.9));
}

#menu-bar:checked ~ .menu{
		transform: translateX(0%);
}

@media (min-width:1024px){
	.menu{
		display: flex;
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float:inherit;
	}

	.menu a {
		border: none;
        width: 1200px;
	}
    
	header label{
		display: none;
	}
}   
